html {
  overflow-y: scroll;
}

tbody tr.wrong td {
  color: red;
}

tbody tr.wrong td:nth-child(2) {
  text-decoration: line-through;
}

tbody tr.correct td {
  color: teal;
}

tbody tr.correct td:nth-child(3) {
  font: dingbats;
}

h3.heading {
  margin-left: 10px;
}